.App {
  text-align: center;

}
.text-large{
    font-family: LLCircular,sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 76px;
    padding: 100px 0 20px;
}
html {
  background: linear-gradient(to bottom, #f09819, #edde5d);
}
.page {
  height: 100vh;
  background: linear-gradient(to bottom, #f09819, #edde5d);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.App li {
    display: inline-block;
    margin: 20px;
}

.App a {
    text-decoration: none;
    color: black;
}

.App a:hover,
.App a:active {
    color: skyblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
