.card {
  display: flex;
  border: 2px solid #fff;
  border-radius: 1rem;
  margin-top: 2.8rem;
  padding: 1rem;
  box-shadow: 0px 12px 30px 3px rgba(169, 168, 168, 0.21);
}
#contractAddresses {
      width: 100% !important;
}
/*** !important was needed for snippet ***/

 /* label focus color */
   .input-field input:focus + label {
     color: #e49b2e !important;
}
/* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid #e49b2e !important;
     box-shadow: 0 1px 0 0 #e49b2e !important;
}


.select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}


.siteHeader {
  background: linear-gradient(150deg,#7795f8 15%,#6772e5 70%,#555abf 94%);
  background: linear-gradient(to right, #00b09b, #96c93d);
}

.advantages {
  border: 2px solid #fff;
  border-radius: 1rem;
  margin-top: 2.8rem;
  padding: 1rem;
  box-shadow: 0px 12px 30px 3px rgba(169, 168, 168, 0.21);
}


h5 {
  margin: 2rem !important;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
