.market-page {
  height: 100vh;
  background-image: linear-gradient(to bottom, #ff8a00, #da1b60);
  display: flex;
  justify-content: flex-start;
}

.dont-show{
  display: none;
}

.highlight{
  margin-bottom: -6rem !important;
}

.card-content {
  margin-top: 6rem;
}

/* .offers {
    margin: 100px 100px 100px 100px;
} */

/* body {
  height: 100%;
} */

.advantages {
  border: 2px solid #fff;
  border-radius: 1rem;
  margin-top: 2.8rem;
  padding: 1rem;
  box-shadow: 0px 12px 30px 3px rgba(169, 168, 168, 0.21);
}

/* 4 items compensating for the paddig */
/* @media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  } */
